--
-- PostgreSQL database cluster dump
--

\restrict cZaNas3FCgTin4EXZROCBwD0bGQ6vt2wYKzCqZOhTkY0khm8OdC6iu91aicGHRM

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE sa;
ALTER ROLE sa WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:ShCaWGVVzeHCyxCywUGA+w==$u/gv0lxP3/tpmr0tg/U8xocqd5ozIEXuKCChZAKjq+E=:210XJm4XuisUbPNEwdeErdExIuItYm9kNk+lTefRFPc=';

--
-- User Configurations
--








\unrestrict cZaNas3FCgTin4EXZROCBwD0bGQ6vt2wYKzCqZOhTkY0khm8OdC6iu91aicGHRM

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict rtenVcesx4yaA1Qwu8DQPWNVitWkrhUsBY5auNRDKcFNuyYrbYQ9gjv8msYkapL

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict rtenVcesx4yaA1Qwu8DQPWNVitWkrhUsBY5auNRDKcFNuyYrbYQ9gjv8msYkapL

--
-- Database "dockF" dump
--

--
-- PostgreSQL database dump
--

\restrict 23R3UPTQcYkBU39gn3nqx5PT3EGgGbpHRGGhquU3tJ2n8a58IpSKKGKZTUGuwke

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: dockF; Type: DATABASE; Schema: -; Owner: sa
--

CREATE DATABASE "dockF" WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE "dockF" OWNER TO sa;

\unrestrict 23R3UPTQcYkBU39gn3nqx5PT3EGgGbpHRGGhquU3tJ2n8a58IpSKKGKZTUGuwke
\connect "dockF"
\restrict 23R3UPTQcYkBU39gn3nqx5PT3EGgGbpHRGGhquU3tJ2n8a58IpSKKGKZTUGuwke

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.account (
    id bigint NOT NULL,
    agencia integer NOT NULL,
    numero integer NOT NULL,
    tipo_conta smallint NOT NULL,
    banco_id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    CONSTRAINT account_tipo_conta_check CHECK (((tipo_conta >= 0) AND (tipo_conta <= 1)))
);


ALTER TABLE public.account OWNER TO sa;

--
-- Name: account_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bank; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.bank (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL
);


ALTER TABLE public.bank OWNER TO sa;

--
-- Name: bank_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.bank ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bank_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: credit_card; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.credit_card (
    id bigint NOT NULL,
    limite real NOT NULL,
    nome character varying(255) NOT NULL,
    banco_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.credit_card OWNER TO sa;

--
-- Name: credit_card_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.credit_card ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.credit_card_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255),
    CONSTRAINT roles_name_check CHECK (((name)::text = ANY ((ARRAY['ROLE_CUSTOM'::character varying, 'ROLE_ADMIN'::character varying])::text[])))
);


ALTER TABLE public.roles OWNER TO sa;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transaction; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.transaction (
    id bigint NOT NULL,
    account_id bytea,
    cartao_credito_id bytea,
    data date,
    descricao character varying(255),
    nome character varying(255),
    user_id bytea,
    valor real NOT NULL
);


ALTER TABLE public.transaction OWNER TO sa;

--
-- Name: transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    cpf character varying(255),
    email character varying(255) NOT NULL,
    name character varying(255),
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO sa;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_roles; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.users_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.users_roles OWNER TO sa;

--
-- Data for Name: account; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.account (id, agencia, numero, tipo_conta, banco_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: bank; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.bank (id, nome) FROM stdin;
\.


--
-- Data for Name: credit_card; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.credit_card (id, limite, nome, banco_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.roles (id, name) FROM stdin;
1	ROLE_ADMIN
2	ROLE_CUSTOM
\.


--
-- Data for Name: transaction; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.transaction (id, account_id, cartao_credito_id, data, descricao, nome, user_id, valor) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.users (id, cpf, email, name, password) FROM stdin;
1	\N	teste01@gmail.com	\N	$2a$10$eo72yB5YOpxzf4WIZ2m5Dul485xWhY967elqhu3n37rMD6/wf4Zuu
2	\N	teste02@gmail.com	\N	$2a$10$J8XKFvuZKaSADmzjWiovQeU222S4rnBWQt5xvZxWM5t5ObsYzNsua
\.


--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.users_roles (user_id, role_id) FROM stdin;
1	2
2	1
\.


--
-- Name: account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.account_id_seq', 1, false);


--
-- Name: bank_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.bank_id_seq', 1, false);


--
-- Name: credit_card_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.credit_card_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.transaction_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: account account_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT account_pkey PRIMARY KEY (id);


--
-- Name: bank bank_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.bank
    ADD CONSTRAINT bank_pkey PRIMARY KEY (id);


--
-- Name: credit_card credit_card_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.credit_card
    ADD CONSTRAINT credit_card_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: transaction transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_roles fk2o0jvgh89lemvvo17cbqvdxaa; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fk2o0jvgh89lemvvo17cbqvdxaa FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: credit_card fk4mlambqwx9a7k9m5dwb6dsnmo; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.credit_card
    ADD CONSTRAINT fk4mlambqwx9a7k9m5dwb6dsnmo FOREIGN KEY (banco_id) REFERENCES public.bank(id);


--
-- Name: credit_card fkb7986ptel38732x8dahe8uwn4; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.credit_card
    ADD CONSTRAINT fkb7986ptel38732x8dahe8uwn4 FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: account fkcvokgipemblehb3yvxp9gyhpe; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT fkcvokgipemblehb3yvxp9gyhpe FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: users_roles fkj6m8fwv7oqv74fcehir1a9ffy; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fkj6m8fwv7oqv74fcehir1a9ffy FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: account fknyq9bftvvtp0e5074ckn4i8ym; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT fknyq9bftvvtp0e5074ckn4i8ym FOREIGN KEY (banco_id) REFERENCES public.bank(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 23R3UPTQcYkBU39gn3nqx5PT3EGgGbpHRGGhquU3tJ2n8a58IpSKKGKZTUGuwke

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict TfaOKfv1VEsx918VkAsjwuB5dbRGFAEK27NwcnfUJvG0KIywuln6f4VLN2rnFNU

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict TfaOKfv1VEsx918VkAsjwuB5dbRGFAEK27NwcnfUJvG0KIywuln6f4VLN2rnFNU

--
-- PostgreSQL database cluster dump complete
--

